html{
    scroll-behavior: smooth;
}
body{
    overflow: auto;
}
header{
    margin: 0;
    padding-left:70px;
}

header>.carousel{
    height: 100vh;
}

main{
    padding-left:90px;
    padding-right:10px;
}

.sidenav{
    width: 70px;
}

.vtengah{
    position: relative;
    top: 25vh;
    left: -10%;
    -ms-transform: rotateY(-25%);
    transform: rotateY(-25%);
}

.vtengah > li{
    padding-top: 30px;
}

hr{
    border: 2.5px solid firebrick;
    border-radius: 5px;
}

.foto{
    background-repeat: no-repeat;
    width: 90px;
    height: 125px;
    border-radius: 10px;
    background-size: auto;
    margin-bottom: -20px;
}

.user-view{
    text-align: center;
}

main{
    font-family: lato;
}

.kanan{
    text-align: right;
}

footer>.container{
    padding-left: 100px;
}

footer>a {
    padding: 20px;
    /* border: 0.5px solid white; */
    /* border-radius: 30%; */
    font-size: 20px;
    color:white;
  }

  /* Untuk Div */
/*   .tentang, .pendidikan, .skill{
      /* visibility: hidden; */
      margin: 0px;
      padding-top: 10px;
      height: 100vh;
  } */

/*   .pengalaman{
      margin: 0px;
      height: 100vh;
  } */

/* Media Screen */
/* @media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
     -webkit-transform:translateX(0%);
     transform:translateX(0%)
    }

    header>.carousel{
        height:150px;
    }
    .vtengah{
        position: relative;
        top: 10vh;
        left: -10%;
        -ms-transform: rotateY(-25%);
        transform: rotateY(-25%);
    }
    .tentang, .pendidikan, .skill{
        /* visibility: hidden; */
        height: auto;
    }
} */
